notebook/
.idea/
scripts/*.pyc
src/*pyc
ignore/
webapp/conf/evolutions/default/1.sql
webapp/project/project/
webapp/project/target/
webapp/target/
webapp/tmp/
webapp/.history/
webapp/.idea
webapp/.iml
webapp/data/*
