@(message: String,tasks:List[Task])
    @import play.data.Form.form

@implicitFieldConstructor = @{ helper.FieldConstructor(twitterBootstrapInput.render) }

@main("Welcome to Play") {
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Status</th>
                <th>Date</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            @for(task <- tasks) {
                <tr>
                    <td>@task.name</td>
                    <td>@task.status</td>
                    <td>@task.id</td>
                    <td>
                        <p>
                            <a href = "@routes.Application.taskDetails(task.id)">
                                <button class="btn btn-success  fa fa-tasks row-remove" title="Detalji">
                                                    </button>
                            </a>
                        </p>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <button class ="btn btn-primary"
    date-title="Uredi" data-toggle="modal" data-placement="top" rel="tooltip" onClick="modalShow ( )" title ="Uredi">
        Uredi
    </button>
    <div class="modal fade" id ='modalReservation'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Uredi podatke o rezervaciji</h4>
                </div>
                <div class="modal-body">
                    @uploadForm(form(classOf[Application.UploadForm]))
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div> <!-- /.modal -->
}

<script>
function modalShow ( ) {
    $ ( '#modalReservation' ).on ( 'shown.bs.modal', function ( ) {
        $ ( '#modalReservation' ).focus ( ) ;
    } )
    $ ( '#modalReservation' ).modal ( 'show' ) ;
}
</script>