@(task:Task)

@main("Task details") {
    <div id="wrapper">

        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                </div>
                    <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="morris-donut-chart"></div>
                </div>
                    <!-- /.panel-body -->
            </div>
                <!-- /.panel -->
        </div>

            <!-- /.col-lg-6 -->
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                </div>
                    <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="morris-donut-chart"></div>
                </div>
                    <!-- /.panel-body -->
            </div>
                <!-- /.panel -->
        </div>
    </div>

}
<script>
        // Donut Chart
        var graph = Morris.Donut({
            element: 'morris-donut-chart',
            data: [{
                label: "No hits found",
                value: 1
            }],
            resize: true
        });

        var ajax_request = function () {
            ruter.controllers.Application.getResults("@task.name").ajax({
                success: function(data1) {
                    console.log(data1)
                    graph.setData(JSON.parse(data1))
                }
            })
        }

        var interval_time = 60 * 1000 * 0.1;

        var interval = setInterval(ajax_request, interval_time)

</script>